.body{
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-bottom: auto;
    width: 25%;
    height: auto;
}
.button-green{
    display:block;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-red{
    background-color: darkred;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-blue {
    background-color: navy;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-blue:hover{
    filter: contrast(150%);
    filter: brightness(150%);
}
.button-green:hover{
    filter: contrast(150%);
    filter: brightness(150%);
}
.button-red:hover{
    filter: contrast(150%);
    filter: brightness(150%);
}
.container{
    text-align: center;
}
.credits{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: teal;
}
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    height: auto;
}
.player{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: auto;
}
body.no-scroll {
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}